/* Full screen container for favorite cities */
.full-screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    height: 100vh;
    background-color: #742c47; /* Dark navy background */
    overflow-y: auto;
    color: #072340; /* Light gray text for contrast */
}


/* Styling for each card */
.fav_city {
    background-color: #f1f5f9; /* Light gray background */
    color: #334155; /* Charcoal gray text */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #38bdf8; /* Sky blue border */
}

.fav_city:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.fav_city p {
    margin: 10px 0;
    font-size: 16px;
    color: #334155; /* Charcoal gray */
}




.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #64748b; /* Muted blue background */
    color: #f1f5f9; /* Light gray text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #475569; /* Darker blue on hover */
}
